# History files
.Rhistory
.Rapp.history

# Ignore large data files
data/elevation
data/climate/chelsa


#*.shp
#*.shx
#*.cpg
#*.prj
#*.dbf
#*.xml
#*.sbn
#*.sbx
#*.gpkg

# Session Data files
.RData

# User-specific files
.Ruserdata

# Example code in package build process
*-Ex.R

# Output files from R CMD build
/*.tar.gz

# Output files from R CMD check
/*.Rcheck/

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

# knitr and R markdown default cache directories
*_cache/
/cache/

# Temporary files created by R markdown
*.utf8.md
*.knit.md

# R Environment Variables
.Renviron

#ignore these files

# ignore data
data/raw
data/climate/raw
data/historical_data/
data/results
data/spatial/elevation
data/spatial/Elevation
data/output/*.tif

# ignore the sentinel classification from 2018 (can be accessed online)
data/spatial/2018-nilgiris/2018.tif

# remove occurence data
data/*-occurrence-data.csv

data/output/data_clim_daily.csv
data/output/data_for_gam.csv
data/output/data_monthly_climate.csv

.Rproj.user

# allow chelsa list
!*envidatS3paths.txt
